[submodule ".claude"]
	path = .claude
	url = https://github.com/keeperdotsh/.claude.git
[submodule "infra"]
	path = infra
	url = https://github.com/keeperdotsh/infra.git
[submodule "applications/web/seo"]
	path = applications/web/seo
	url = https://github.com/keeperdotsh/seo.git
