@import "tailwindcss";

html,
body,
#root {
  @apply w-full h-full bg-background overflow-x-hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Geist Sans";
  src: url("./assets/fonts/Geist[wght].ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora[wght].ttf") format("truetype");
  font-weight: 100 900;
}

@theme {
  --color-foreground: var(--color-neutral-950);
  --color-background: var(--color-neutral-50);

  --color-interactive-border: var(--color-neutral-200);

  --color-foreground-muted: color-mix(
    in srgb,
    var(--color-foreground),
    transparent 40%
  );

  --color-foreground-hover: color-mix(
    in srgb,
    var(--color-foreground),
    transparent 20%
  );

  --color-background-hover: color-mix(
    in srgb,
    var(--color-foreground),
    var(--color-background) 96.125%
  );

  --font-sans: "Geist Sans", system-ui, sans-serif;
  --font-serif: "Lora", Georgia, serif;
}
